<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html layout:decorate="~{main-layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title><span th:text="${title}"></span></title>
</head>
<body>

<div layout:fragment="header">
    <div class="col-sm-6">
        <h1><span th:text="${title}"></span></h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a th:href="@{/}">Trang chủ</a></li>
            <li class="breadcrumb-item"><a th:href="@{/admin}">Quản trị viên</a></li>
            <li class="breadcrumb-item"><span th:text="${title}"></span></li>
        </ol>
    </div>
</div>

<div layout:fragment="content">

    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Xác nhận xóa
                </div>
                <div class="modal-body">
                    Bạn có chắc muốn xóa người dùng này?
                </div>
                <ul>
                    <li>
                        Tất cả các quyền của người dùng này cũng sẽ bị loại bỏ
                    </li>
                    <li class="text-danger">
                        Bạn sẽ không thể khôi phục lại dữ liệu đã xóa
                    </li>
                </ul>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
                    <a class="btn btn-danger btn-ok">Xác nhận</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <a th:href="@{/admin/user/add}" class="btn btn-success">Thêm người dùng</a>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div th:if="${!#strings.isEmpty(message)}">
                        <div class="alert alert-info col-6"><span th:text="${message}"></span></div>
                    </div>
                    <table id="my-data-table" class="table table-bordered table-striped display">
                        <thead>
                        <tr class="text-center">
                            <th>Id</th>
                            <th>Tên đăng nhập</th>
                            <th>Họ đệm</th>
                            <th>Tên</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user, state : ${users}">

                            <td th:utext="${user.id}"></td>
                            <td th:utext="${user.username}"></td>
                            <td th:utext="${user.lastName}"></td>
                            <td th:utext="${user.firstName}"></td>
                            <td th:utext="${user.email}"></td>
                            <td th:utext="${user.roles[0].getName()}"></td>
                            <td class="text-center">
                                <div class="btn-group btn-group-sm">
                                    <a href="#" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                                    <a th:href="@{/admin/user/edit(id=${user.id})}" class="btn btn-info"><i class="fas fa-pencil-alt"></i></a>
                                    <a href="#" th:attr="data-href=@{/admin/user/delete(id=${user.id})}" data-toggle="modal" data-target="#confirm-delete" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
</div>

<div layout:fragment="additionjs">
    <script>
        $('#confirm-delete').on('show.bs.modal', function(e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });
        $('#my-data-table').DataTable({
            "lengthMenu":[
                [10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]
            ],
            "language": {
                "emptyTable": "Không có người dùng nào được tìm thấy",
                "info": "Đang hiển thị _START_ - _END_ trên tổng cộng _TOTAL_ bản ghi",
                "infoEmpty":      "Không có bản ghi",
                "paginate": {
                    "first":      "Trang đầu",
                    "last":       "Trang cuối",
                    "next":       "Trang tiếp",
                    "previous":   "Trang trước"
                }
            },
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "autoWidth": true,
        })
    </script>
</div>

</body>
</html>