<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html layout:decorate="~{main-layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quản trị viên</title>
</head>
<body>

<div layout:fragment="header">
    <div class="col-sm-6">
        <h1>Quản trị viên</h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a th:href="@{/}">Trang chủ</a></li>
            <li class="breadcrumb-item">Quản trị viên</li>
        </ol>
    </div>
</div>

<div layout:fragment="content">
    <h1>Chào mừng bạn đến với hệ thống</h1>
</div>
</body>
</html>