<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html layout:decorate="~{main-layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title><span th:text="${title}"></span></title>
</head>
<body>

<div layout:fragment="header">
    <div class="col-sm-6">
        <h1><span th:text="${title}"></span></h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a th:href="@{/}">Trang chủ</a></li>
            <li class="breadcrumb-item"><a th:href="@{/admin}">Người quản lý</a></li>
            <li class="breadcrumb-item"><span th:text="${title}"></span></li>
        </ol>
    </div>
</div>

<div layout:fragment="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <form th:action="@{/manager/answer/importAnswer}" th:object="${fileAnswer}" role="form" method="post">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputFile">File input</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="exampleInputFile">
                                    <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                </div>
                                <div class="input-group-append">
                                    <span class="input-group-text" id="">Upload</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div layout:fragment="additionjs">
    <script>
        $('#startDate').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
        $('#select-all').click(function(event) {
            if(this.checked) {
                // Iterate each checkbox
                $(':checkbox').each(function() {
                    this.checked = true;
                });
            } else {
                $(':checkbox').each(function() {
                    this.checked = false;
                });
            }
        });
    </script>

</div>
</body>
</html>